#footer {

  .main {
    height: 300px;
  }
  .footer-main {
    background-color: #000000;
  }
  .bottom {
    height: 50px;
  }
  .linkColor{
    color:#008ACA !important
  }
  .linkColorBottom{
    color:#ffffff !important
  }
}
