/* Class radius */
.is-border-radius-4 {
  border-radius: 4px !important;
}
.is-border-radius-5 {
  border-radius: 5px !important;
}
.is-border-radius-8 {
  border-radius: 8px !important;
}
.is-border-radius-12 {
  border-radius: 12px !important;
}
.is-border-radius-13 {
  border-radius: 13px !important;
}
.is-border-radius-16 {
  border-radius: 16px !important;
}
.is-border-radius-22 {
  border-radius: 22px !important;
}