/* Class off height */
.is-height-100p {
  height: 100% !important;
}
.is-height-36px {
  height: 36px;
}
.is-height-39px {
  height: 39px;
}
.is-height-40px {
  height: 40px !important;
}
.is-height-42px {
  height: 42px !important;
}
.is-height-58px {
  height: 58px;
}
.is-height-170px {
  height: 170px;
}
.is-min-height-170px {
  min-height: 170px;
}
.is-min-height-174px {
  min-height: 174px;
}
.is-min-height-207px {
  min-height: 207px;
}
.is-min-height-500px {
  min-height: 500px;
}

.is-height-max-content {
  height: max-content;
}

/* Class off width */
.is-width-100p {
  width: 100%;
}
.is-width-77px {
  width: 77px;
}
.is-width-106px {
  width: 106px;
}
.is-width-150px {
  width: 150px;
}
.is-width-166px {
  width: 166px;
}
.is-width-173px {
  width: 173px;
}
.is-width-290px {
  width: 290px;
}
.is-width-300px {
  width: 300px;
}
.is-max-width-150px {
  max-width: 150px;
}
.is-max-width-339px {
  max-width: 339px;
}
.is-max-width-425px {
  max-width: 425px;
}
.is-max-width-469px {
  max-width: 469px;
}

.is-width-max-content {
  width: max-content;
}

.is-40x40 {
  height: 40px !important;
  width: 40px !important;
}
