/* Class off size text */
.is-size-10px {
  font-size: 0.625rem;
}
.is-size-14px {
  font-size: 0.875rem;
}
.is-size-15px {
  font-size: 0.9375rem;
}
.is-size-18px {
  font-size: 1.125rem;
}
.is-size-26px {
  font-size: 1.625rem;
}
.is-size-36px {
  font-size: 2.25rem;
}
.is-size-46px {
  font-size: 2.875rem;
}
.is-size-52px {
  font-size: 3.25rem;
}