/* Class padding */
.pl-38px {
  padding-left: 38px;
}
.pt-38px {
  padding-top: 38px;
}
.px-18px {
  padding-left: 18px;
  padding-right: 18px;
}

/* Class margin */
.mt-38px {
  margin-top: 38px;
}
.mt-45px {
  margin-top: 45px !important;
}
.mt-46px {
  margin-top: 46px;
}

.mb-40px {
  margin-bottom: 40px !important;
}
.mb-45px {
  margin-bottom: 45px !important;
}
.mb-46px {
  margin-bottom: 46px;
}
.mb-90px {
  margin-bottom: 90px !important;
}
